.addCard { 
    position: relative;
    top: 0;
    right: 0;
    border: solid red 2px;
    display: flex;
    flex-direction: column;

    input { 
        margin: 5px;
    }

    p { 
        border: solid blue 2px;
    }
}