.background {
  background-image: url("./images/chalkboard.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  h1 {
    color: whitesmoke;
  }
}
