.background {
  top: 0;
  left: 0;
  background-image: url("./images/chalkboard.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;

  h1 {
    color: whitesmoke;
  }
}


// * { 
//   <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap" rel="stylesheet">

// }